<!DOCTYPE html>
<html>
<head>
  <title>Miszonas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARbgXcHFUSf-Ut33iz5B1tBo2ALiEy54Q&callback=gmaps_init" type="text/javascript"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,400italic,500,300' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <!-- jquery UI -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/maps/gmaps.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body>
<div class="containter-fluid" style="min-height: 100%;position: relative;">

  <div class="row">
    <% if logged_in? %>
  <%= render "logout" %>
    <% else %>
    <div class="top-menu">
      <div class="logo" style="position:absolute;z-index:1;float:left;left:30px;">
          <a href="/"><img src="assets/logo.png" alt="" height="120" width="170"/></a>
      </div>
      <input type="checkbox" class="checkbox__hack" id="checkbox__hack">
    <label for="checkbox__hack" class="checkbox-hack__label"></label>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/login">Mi cuenta</a></li>
          <li class="nav__item"><a href="/signup">Registrarse</a></li>
        </ul>
      </nav>
    </div>
    <% end %>
</div>

<%= yield %>

<!-- <footer>
    <p class="footer-text">
      Todos los derechos reservados
    </p>
</footer> -->
</div>

</body>
</html>
